<head>
    <title>BookCrazy</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Chivo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f2e207c4f7.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="header">
        <div class="div-logo">
            <img src="assets/logo.PNG" id="logo">
        </div>

        <div class="div-nome-da-loja">
            <h1 class="nome-da-loja fonte-padrao">BookCrazy</h1>
        </div>
    </header>
</body>