<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>BookCrazy</title>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css2?family=Chivo&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/f2e207c4f7.js" crossorigin="anonymous"></script>
  </head>
  <body class="fonte-padrao">
    <header class="header">
        <a href="./index.html">
            <div class="div-logo">
                <img src="./img/logo.PNG" id="logo">
            </div>
        </a>
        <a href="./index.html">
            <div class="div-nome-da-loja">
                <h1 class="nome-da-loja fonte-padrao">BookCrazy</h1>
            </div>
        </a>
        <div class="div-input-pesquisa">
            <input class="input-pesquisa "type="search" name="pesquisa" class="busca" placeholder="Ex: O código da Vinci...">

            <div class="icone-pesquisa">
                <i class="fas fa-search fa-lg"></i>
            </div>

        </div>
        <div class="div-icone-pessoa">
            <i class="fas fa-user fa-2x"></i>
        </div>
        <div class="div-parte-visitante">
            <div id="div-ola-visitante">
                <p class="fonte-padrao p-parte-visitante">Olá Visitante</p>
            </div>
            <div id="div-entrar-cadastrar">
                <p class="fonte-padrao p-parte-visitante">
                    <a href="entrar.html">Entrar</a> | <a href="criar-conta.html">Cadastrar</a>
                </p>
            </div>
        </div>
        <div class="div-icone-carrinho">
            <i class="fas fa-shopping-cart fa-2x"></i>
        </div>
    </header>
    <div class="grid-container">
        <div class="item-tabela">
            <div class="descricao-tabela" class="fonte-padrao"> 
                <div class="label-produtos">
                    <h2>Produtos</h2>
                </div>
            </div>
            <div class="tabela">
                <table>
                    <tr>
                      <th>Nome do produto</th>
                      <th>Descrição</th>
                      <th>Qtd.Estoque</th>
                      <th>Valor</th>
                      <th>Desconto</th>
                      <th>Ações</th>
                    </tr>
                    <tr>
                        <td>Macunaíma: O herói sem nenhum caráter</td>
                        <td>
                            Um personagem preguiçoso e sensual, a um só tempo índio, negro e branco, Macunaíma.
                        </td>
                        <td>19</td>
                        <td>R$ 20,00</td>
                        <td>R$ 10,00</td>
                    </tr>
                    <tr>
                      <td>Dom Casmurro</td>
                      <td>Dom Casmurro, de Machado de Assis, é uma das obras mundialmente célebres da literatura brasileira.</td>
                      <td>5</td>
                      <td>R$ 20,00</td>
                      <td>R$ 10,00</td>
                    </tr>
                    <tr>
                        <td>Iracema</td>
                        <td> A bela índia Iracema detém o segredo da Jurema, que lhe cobra virgindade.</td>
                        <td>10</td>
                        <td>R$ 20,00</td>
                        <td>R$ 10,00</td>
                    </tr>
                  </table>
            </div>
        </div>
    </div>
  </body>
</html>